body {
    padding-top: 100px;
    color: #ccc;
    background-color: #1B2034;
}

#logo {
    width: 230px;
    height: 0;
    display: block;
    overflow: hidden;
    padding-top: 76px;
    font-size: 0;
    background: url("../images/logo.png") no-repeat center center;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

a {
    color: #CFD6E6;
    text-transform: uppercase;
}

a:hover {
    color: #929292;
}

.articleTitle:hover,
.articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.table {
    font-family: Comic Sans, Comic Sans MS, cursif;
    width: 100%;
    background-color: #ffffff;
    color: black;
}

.table td,
.table th {
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #e4e4e4;
}

.table tr:hover {
    background-color: #c5c5c5;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #212429;
    color: white;
}